<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
  <head>
    <title>WebChat | Infopulse</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://code.angularjs.org/1.4.8/angular-route.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  </head>

  <body bgcolor="#ffe4e1">
    <%= yield %>
  </body>
</html>
